
.productView-options {
    margin-bottom: 1.5rem;
    text-align: center
}
.productView-options:before,
.productView-options:after {
    content: " ";
    display: table
}
.productView-options:after {
    clear: both
}
.productView-options .form {
    display: inline
}
.productView-options .form-field {
    font-size: 0;
    margin-bottom: 2rem
}
.productView-options .form-field > .form-checkbox + .form-label,
.productView-options .form-field > .form-radio + .form-label {
    display: inline-block;
    margin-left: 1.5rem;
    width: auto
}
.productView-options .form-field > .form-label:nth-of-type(2) {
    margin-left: 0
}
.productView-options .form-action .button {
    width: 100%
}
.productOptions-list {
    border: 1px solid #dfdfdf;
    list-style: none;
    margin: 0
}
.productOptions-list-item {
    padding: 1.5rem
}
.productOptions-list-item + .productOptions-list-item {
    border-top: 1px solid #dfdfdf
}
.productOptions-list-item .form-label {
    text-align: left;
    top: -2px
}
.productOptions-list-item-figure,
.productOptions-list-item-content {
    display: table-cell;
    vertical-align: middle
}
.productOptions-list-item-figure {
    width: 3rem
}
.productOptions-list-item-content {
    padding-left: 1.28571rem
}