.productView {
    margin-left: auto;
    margin-right: auto;
    max-width: 91.71429rem;
    padding: 0 1.5rem;
    margin-top: 1.5rem;
}
.ampAccordion-title {
    background-color: transparent;
    border-right: 0;
    border-left: 0;
    padding: 1rem 0;
    text-align: center;
    margin-bottom: -1px;
    font-size: 1rem;
}
.ampAccordion-content {
    padding: 1rem 0;
}
.ampCartAdd {
    width: 100%;
}
.ampCartQty {
    border-radius: 4px;
    border: 1px solid;
    padding: 1rem;
}
.productView-cart {
    text-align: center;
}
.alertBox.productAttributes-message {
    display: none;
}
.alertBox {
    border-style: none;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: .78571rem;
    padding: .78571rem 1.14286rem;
    position: relative;
    transition: opacity 300ms ease-out;
    background-color: #e8e8e8;
    border-color: #e8e8e8;
    color: #4f4f4f;
    border-radius: 4px;
}
.alertBox .icon {
    height: 1.78571rem;
    width: 1.78571rem
}
.alertBox .button {
    margin: 0 0 0 .78571rem
}
.alertBox-column {
    display: table-cell;
    text-align: center;
    vertical-align: middle
}
.alertBox-icon {
    padding-right: 1.14286rem
}
.alertBox-message {
    margin: 0;
    text-align: left;
    width: 100%
}
.socialLinks {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.socialLinks:before,
.socialLinks:after {
    content: " ";
    display: table
}
.socialLinks:after {
    clear: both
}
.socialLinks ul,
.socialLinks ol {
    list-style: none;
    margin-bottom: 0
}
.socialLinks li {
    margin: 0;
    padding: 0
}
.socialLinks-item {
    display: inline-block;
    font-size: 0
}
.socialLinks .socialLinks-item {
    margin-bottom: .35714rem;
    margin-right: .78571rem
}
.socialLinks .socialLinks-item:last-child {
    margin-right: 0
}
.writeReview-productDetails .product-brand {
    color: #a5a5a5;
    margin: 0
}
.writeReview-productDetails .product-title {
    margin-top: 0
}
.account--addReturn .table {
    display: block;
    margin-bottom: 3rem
}
.quickView:before,
.quickView:after {
    content: " ";
    display: table
}
.quickView:after {
    clear: both
}
.productReviews-list {
    list-style: none;
    margin: 0 -.75rem;
    max-width: none;
    width: auto;
    font-size: 0
}
.productReviews-list ul,
.productReviews-list ol {
    list-style: none;
    margin-bottom: 0
}
.productReviews-list:before,
.productReviews-list:after {
    content: " ";
    display: table
}
.productReviews-list:after {
    clear: both
}
.productReview {
    padding-left: .75rem;
    padding-right: .75rem;
    width: 100%;
    float: left;
    display: inline-block;
    float: none;
    font-size: 1rem;
    vertical-align: top
}
.productReview-title {
    margin: 0;
    text-transform: none
}
.productReview-author {
    color: #989898;
    margin-bottom: 1rem
}
.productReview-rating {
    display: inline-block;
    margin-bottom: .35714rem
}
.productReview-ratingNumber {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}
.productView {
    padding-top: 1rem
}
.productView-images {
    margin-bottom: 3rem
}
.productView-image {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0
}
.productView-image img {
    width: 100%
}
.productView-image .productView-image--default {
    width: auto
}
.productView-image + .productView-thumbnails {
    margin-top: .78571rem
}
.productView-thumbnails {
    list-style: none;
    margin: 0 -.75rem;
    max-width: none;
    width: auto;
    margin-left: -.35714rem;
    margin-right: -.35714rem
}
.productView-thumbnails ul,
.productView-thumbnails ol {
    list-style: none;
    margin-bottom: 0
}
.productView-thumbnails:before,
.productView-thumbnails:after {
    content: " ";
    display: table
}
.productView-thumbnails:after {
    clear: both
}
.productView-thumbnail {
    padding-left: .75rem;
    padding-right: .75rem;
    width: 25%;
    float: left;
    padding-left: .35714rem;
    padding-right: .35714rem
}
.productView-thumbnail-link {
    border: 2px solid transparent;
    display: inline-block;
    padding: 2px;
    text-align: center;
    width: 100%
}
.productView-thumbnail-link:hover,
.productView-thumbnail-link.is-active {
    border-color: #454545
}
.productView-details {
    margin-bottom: 2rem
}
.productView-product >:last-child {
    margin-bottom: 0
}
.productView-title {
    font-size: 20px;
    margin: -.78571rem 0 .35714rem
}
.productView-brand {
    color: #989898;
    font-size: 15px;
    margin: 0 0 .78571rem
}
.productView-brand a {
    color: #989898
}
.productView-brand a:hover {
    color: #4f4f4f
}
.productView-price {
    font-size: 15px;
    margin-bottom: .5rem
}
.productView-price .price-section--saving {
    font-size: 15px
}
.productView-price abbr {
    border: 0;
    color: inherit;
    font-size: inherit
}
.productView-reviewLink {
    display: inline-block;
    margin-left: .78571rem;
    vertical-align: middle
}
.productView-reviewLink + .productView-reviewLink {
    display: none
}
.productView-reviewLink > a {
    color: #989898
}
.productView-reviewLink > a:hover {
    color: #4f4f4f
}
.productView-info {
    margin-top: .78571rem
}
.productView-info:before,
.productView-info:after {
    content: " ";
    display: table
}
.productView-info >:last-child {
    margin-bottom: 0
}
.productView-info-name,
.productView-info-value {
    float: left
}
.productView-info-name {
    clear: both;
    margin-bottom: .21429rem;
    margin-right: .35714rem
}
.productView-info-value {
    margin-bottom: .35714rem;
    margin-left: 0;
}
.shareProduct {
    text-align: center
}
.apple-pay-checkout-button {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 60%;
    border-radius: .28571rem;
    cursor: pointer;
    display: none;
    max-height: 4.57143rem;
    min-height: 2.28571rem;
    min-width: 9.57143rem;
    padding: 1.5rem;
    background-color: #000;
    background-image: -webkit-named-image(apple-pay-logo-white)
}
.cart-additionalCheckoutButtons .apple-pay-checkout-button {
    margin-top: .78571rem
}
.apple-pay-supported .apple-pay-checkout-button {
    display: block
}
.previewCartCheckout .apple-pay-checkout-button {
    display: block;
    float: none;
    margin-top: .78571rem
}